
<h5 class="content-padded hidden">Check</h5>
	<ul class="table-view">
		<li class="table-view-divider">Centro: <%=center%>, <%=data%></li>
  
  				<li class="table-view-cell">
    					<h3><b>Ticket: </b><%=operation%><%=ticketNumber%></h3>
  				</li>
  				<li class="table-view-cell">

    					<h3><b>Persone davanti: </b><%=N%></h3> 
  				</li>

    			<li class="table-view-cell">

    					<h3><b>Sarai servito in: </b><%=waitingTime%> min</h3> 
  				</li>
  				
  				<li class="table-view-cell">
    					<h3><b>Distanza dal centro: </b> <%=walkingTime%> min</h3> 					
    			</li>
    			
    		
    		
    		
	</ul>


		
