<h5 class="content-padded">Check</h5>
	<ul class="table-view">
 			 	<li class="table-view-cell">
    					centro: <p id="center"></p>
  				</li>
  
  				<li class="table-view-cell">
    					numero biglietto:<p id="ticketNumber"></p>
  				</li>
  				
  				<li class="table-view-cell">
    					operazione:<p id="operation"></p>
    			</li>
    			
    			<li class="table-view-cell">
    					turno corrente:<p id="currentTurn"></p>
  				</li>
    			
    			<li class="table-view-cell">
    					stima attesa:<p id="waitingTime"></p>
  				</li>
  				
  				<li class="table-view-cell">
    					stima percorso:<p id="walkingTime"></p>
    			</li>
	</ul>
		
		<script src="js/view/CheckView.js"></script>

		
