<h5 class="content-padded hidden">Check</h5>
	<ul class="table-view">
		<li class="table-view-divider">Centro: <%=center%>, <%=data%></li>
  
  				<li class="table-view-cell">
    					<h3><b>Ticket: </b></h3><%=operation%><%=ticketNumber%>
  				</li>

    			<li class="table-view-cell">

    					<h3><b>Sarai servito in: </b></h3><%=waitingTime%>
  				</li>
  				
  				<li class="table-view-cell">
    					<h3><b>Distanza dal centro: </b></h3><%=walkingTime%> 
    					
    			</li>
    			
    		
	</ul>
	
		
		<script src="js/view/CheckView.js"></script>
		


		
