<h5 class="content-padded hidden" >Menu</h5>
<ul class="table-view">
  				<li class="table-view-cell media">
    				<a class="navigate-right" href="#AcquireQR/" > 
      					<span class="media-object pull-left icon icon-pages"></span>
     					<div class="media-body">
        					Acquisisci QR-Code
      					</div>
    				</a>
  				</li>
  				
  				<li class="table-view-cell media">
    				<a class="navigate-right" href="#Check/" >
      					<span class="media-object pull-left icon icon-more-vertical"></span>
      					<div class="media-body">
        					Visualizza Coda
      					</div>
    				</a>
  				</li>
</ul>